@media screen and (max-width: 320px) {
   .top_nav_btn{
    border: none;
    margin: 0px;
    padding: 0px;
    display: flex;
   }
    body {
      font-size: 14px;
    }
  }
  .top_menu{
    display: flex;
    justify-content: flex-end;
  }
  .dropdown_menu {
    display: none; /* По замовчуванню меню приховане */
  }
  .dropdown.open .dropdown_menu {
    display: block; /* Показуємо меню при наявності класу .open */
  }

  @media screen and (min-width: 321px) {
    .top_nav_btn {
      display: none;
    }
  }
 